* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: white;
}

div.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: #5483a6;
  color: white;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

div.navbar-toggle {
  display: none;
}

a {
  color: #212121;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px;
}

a.navbar-logo {
  font-size: 2.5rem;
  text-shadow: 1px 4px 13px rgba(0, 0, 0, 0.67);
}

a span {
  color: #80bce7;
}

ul {
  display: flex;
  transition: transform 0.5s ease;
}

ul li {
  list-style: none;
  display: inline;
  margin-left: 20px;
}

ul li a {
  transition: all 0.3s ease;
}

ul li a:hover {
  color: #80bce7;
}

@media screen and (max-width: 860px) {
  ul {
    position: absolute;
    top: 100px;
    left: 0;
    background-color: #5483a6;
    width: 100%;
    transform: translateY(-500px); /* Hide menu off-screen initially */
    opacity: 0;
  }

  ul.active {
    transform: translateY(-5px); /* Show menu on click */
    opacity: 1;
    display: block;
  }

  ul li {
    display: block;
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  div.navbar-toggle {
    display: block;
    cursor: pointer;
  }

  div.navbar-container {
    padding: 20px 5%;
  }
  a.navbar-logo {
    font-size: 2rem;
  }
}
