* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: white;
}

div.navbar-toggle {
  background-color: rgb(201, 201, 201);
  color: white;
  padding: 30px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

span.navbar-toggle-icon {
  position: absolute;
  top: 20%;
  right: 5%;
  transform: translate(-50%, -50%);
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 5px;
}
img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  float: right;
}

.navbar {
  position: absolute;
  top: 0;
  left: -800px;
  width: 50%;
  height: 100vh;
  background-color: white;
  padding: 20px 2%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.7s ease;
}
a {
  color: #212121;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px;
}

a.navbar-logo {
  font-size: 2.5rem;
  text-shadow: 1px 4px 13px rgba(0, 0, 0, 0.67);
}

a span {
  color: #80bce7;
}

ul li {
  list-style: none;
  display: block;
  margin-bottom: 50px;
  margin-top: 50px;
}

ul li a {
  transition: all 0.3s ease;
}

ul li a:hover {
  color: #80bce7;
}
.navbar.active {
  left: 0;
}

@media screen and (max-width: 860px) {
  .navbar{
    width: 100%;
  }
}
